<h1>Employee List</h1>
<body>
    <button>Add Employee</button>
    <table>
        <thead>
            <tr>
                <th>Employee First Name</th>
                <th>Employee Last Name</th>
                <th>Employee Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button>Update</button>
                    <button>Delete</button>
                    <button>View</button>
                </td>
            </tr>
        </tbody>
    </table>
</body>
